* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  body {
    background-color: #00203FFF;
  }
  .container {
    width: 80vmin;
    padding: 50px 30px;
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    border-radius: 5px;
    border: 2px solid #ADEFD1FF;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    
  }
  .stats {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .stats1{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    font-weight: bolder;
    font-size: 40px;
     top: 10%;
     
  }
  .stats span {
    font-weight: 600;
  }
  #quote {
    text-align: justify;
    margin: 50px 0 30px 0;
  }
  textarea {
    resize: none;
    background-color: #ADEFD1FF;
    border:  solid ;
    width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
    color: #00203FFF;
  }
  button {
    margin-top: 20px;
    margin-left: 35%;
    background-color: #ADEFD1FF;
    border-color: #00203FFF;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
  }
  #start-test{
    position: absolute;
    bottom: 50px;
    margin-left: 3%;
  }
  #rest-test{
    color: black;
    margin-top: 10px ;
    padding: 5px 5px;
  }
  .result {
    margin-top: 20px;
    display: none;
  }
  .result h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .wrapper span {
    font-weight: 600;
  }
  .success {
    color: #44b267;
  }
  .fail {
    color: #e81c4e;
  }

   #timer{
     color: #ADEFD1FF;
  } 

  /* color to place holder */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#fff;
  }
/* diffcult level box desgin */
select {
  margin-left: 54%;
  margin-top: 49px;
  background-color: #ADEFD1FF;
  color: black;
  padding: 9px 30px;
  border-radius: 5px;
  font-size: 18px;
  border-width: 2px;
  border-color: #00203FFF;
}
.select option {
     background: black ;
  }
